body {
  background-color: #6bafc4;
}

img { 
  width:8vw;
  height:8vw;
}

#img-grid {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  border-radius: 1em;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 20%), inset 0 0.125em 0.5em rgb(0 0 0 / 25%);
  width: 87%;
  padding: 1vw;
}

.img-container {
  position: relative;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #4da5bfb8;
}

.img-container:hover .img-overlay {
  opacity: 1;
}

.img-text {
  color: white;
  font-size: 1.25vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* html {min-height: 100%}

body {background-image:linear-gradient(#f8f9fa, #004050)}

td {
  vertical-align: middle;
}

input {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.btn-danger {
  color: #fff;
  background-color: #bf4a56;
  border-color: #90a4a9;
  display: inline-flex;
  align-items: center;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
  color: #fff;
  background-color: #9b2e39;
  border-color: #90a4a9;
}

.del-btn {
  height: 2.2em;
}

.btn-primary {
  color: #fff;
  background-color: #386a76;
  border-color: #8fa3a9;
  display: inline-flex;
  align-items: center;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #294e57;
  border-color: #8fa3a9;
}

#submit-btn {
  height: 2em;
  margin-bottom: 0.2em;
}

.edit-btn {
  height:2.2em;
  margin-left: 1em;
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out !important;
}

.modal-content {
  width:auto !important;
  border-radius: 1em;
}

.modal-body {
  padding-top: 0;
  padding-bottom: 0.2em;
}

.modal-title {
  padding-left: 40%
}

.modal-header {
  padding: 0.2rem 1rem !important;
}

.modal-footer {
  padding-top: 0 !important;
  justify-content: center !important;
}

#form-div {
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  border-radius:1em;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding:0.5em;
  display:inline-block;
} */

/* footer {
  background-color: #0f4b5a;
  color: #f8f9fa;
  font-weight: 300;
  padding-top:0 !important;
  position:absolute;
  bottom:0;
  width: 100%;
  text-align: center;
}  */

/* #content {
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


